<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="../static/Style.css" xmlns="http://www.w3.org/1999/html">
<html>
<head>
    <!-- заголовок страницы -->
    <title>Торты на заказ</title>
    <meta charset="utf-8">
</head>
<body>
    <a id="home"></a>
    <!-- * * * * * * для мобилки * * * * * * -->
    <div class="mobile-menu" id="mobmenu">
        <span class="mobile-menu-close close"></span>
        <ul>
            <li class="active"><a href="#home">Главная</a></li>
            <li><a href="#applicationsection">Каталог тортов</a></li>
        </ul>
    </div>
    <div class="overlay"></div>
    <!-- * * * * * * для мобилки * * * * * * -->
    <div class="main-wrapper">
        <!-- * * * * * * хедер * * * * * * -->
        <div class="header-wrapper">
            <div class="header-panel hidden-xs">
                <div class="container">
                    <div class="shedule left">
                        <span class="header-tel">
                            <i class="fa fa-phone"></i> 8(925) 22-814-88
                        </span> 
                        <span class="header-email">
                            <i class="fa fa-envelope" aria-hidden="true"></i> <a href="https://instagram.com/valyanovik_cake?utm_source=qr">НАШ ИНСТАГРАМ</a>
                        </span>
                        <i class="fa fa-clock-o" aria-hidden="true"></i> <span>Режим работы: с 10.00 до 22.00 без выходных</span>
                    </div>
                    <div class="cleaner"></div>
                </div>
            </div>
            <div class="container">
                <div class="header relative">
                    <div class="logo left">
                        <a href="/static"><img src="../static/images2/LOGOO.png" alt="f"/></a>
                    </div>
                    
                    <div class="mob-menu-btn hidden-md hidden-lg right">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    
                    <!-- * * * * * * менюха навигации * * * * * * -->
                    <div class="top-menu visible-md-inline-block visible-lg-inline-block">
                        <ul>
                            <li class="active"><a href="#home">Главная</a></li>
                            <li><a href="#applicationsection">Каталог тортов</a></li>
                        </ul>
                    </div>
                    <div class="cleaner"></div>
                    <!-- * * * * * *меню конец* * * * * * -->
                    
                </div>
            </div>
        </div>
        <div class="header-push"></div>
        <!-- * * * * * * хедер * * * * * * -->


        <!-- * * * * * * слайдер  * * * * * * -->
        <div class="top-slider white relative">
            <div class="item relative" style="background: url(../static/images/444444444.png) 50% 50% no-repeat; background-size: cover;">
                <div class="table">
                    <div class="table-cell text-center">
                        <div class="container">
                            <div class="title">
                                Торты на день рождения <br class="visible-lg">или юбилей
                            </div>
                            <div class="text">
                                от минималистичных до многоярусных
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- * * * * * * слайдер * * * * * * -->





        <!-- * * * * * * картиники с тем что можем * * * * * * -->
        <section class="services-section" id="services">
            <div class="push60"></div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="element relative">
                            <div class="img-wrapper">

                            </div>
                            <div class="title">Торты</div>
                            <div class="text">
                                цена торта от 1800 до 2000 руб.
                                декор оплачиваются отдельно

                                <!-- тут можно чото написать и будет на сайте отобр-->
                            </div>
                        </div>
                    </div>

                    <hr class="clear-hr" />
                    <div class="col-sm-4">
                        <div class="element relative">
                            <div class="img-wrapper">

                            </div>
                            <div class="title">Декор</div>
                            <div class="text">
                                украшения оплачиваются отдельно
                                <!-- тут можно чото написать и будет на сайте отобр-->
                            </div>
                        </div>
                    </div>
                    <hr class="clear-hr" />
                    <div class="col-sm-4">
                        <div class="element relative">
                            <div class="img-wrapper">

                            </div>
                            <div class="title">HandMade</div>
                            <div class="text">
                                все товары сделаны с любовью
                                и руками профессионалов

                                <!-- тут можно чото написать и будет на сайте отобр-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="push30"></div>
        </section>
        <!-- * * * * * * конец таблицы с картинками * * * * * * -->
        

        
        <!-- * * * * * * заголовок панели с тортами те самые квадратики на сайте  * * * * * * -->


        <section class="application-section" id="applicationsection">
            <div class="push70"></div>
            <div class="container">
                <div class="text-center">
                    <div class="title-h1">
                        <img src="../static/images2/TEST_CAKE_ICON.png" alt="brown-cake-icon"><br />
                        <span>Торты на заказ</span>
                    </div>
                </div>
                <div class="push20"></div>


                <div class="filter-buttons">
                    <button class="filter" data-filter="all">All</button>
                    <button class="filter" data-filter="category1">женский</button>
                    <button class="filter" data-filter="category2">мужской</button>
                    <button class="filter" data-filter="category3">разрезы</button>

                    <!-- Add buttons for other categories -->
                </div>

                <!-- Сюда торты вставляьь -->
                <div class="application-inner">
                    <div class="row">
                        <div class="filtr-container" id="lightgallery">
                            <div class="col-sm-6 col-md-4 col-lg-3 ">
                                <div class="element category1 category5">    <!-- сюда добавлять класы тортоввв -->
                                    <div class="element-inner">
                                        <div class="img-wrapper text-center relative">
                                            <div class="img-container">
                                                <img src="../static/images2/love.png" alt="product1" class="main-image" /> <!--фото которое будет видно сперва-->
                                                <img src="../static/images2/slice.png" alt="product1-hover" class="hover-image" /> <!--разрез то что будет видно при наведении-->
                                            </div>
                                        </div>
                                        <div class="element-content">
                                            <div class="title">Торт стиль-Дино</div>
                                            <div class="push5"></div>
                                            <div class="text">

                                            </div>
                                            <div class="push15"></div>
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <div class="price bold f26 brown text-left">от 1 800 руб. за кг</div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 col-md-4 col-lg-3 mix ">
                                <div class="element category1">
                                    <div class="element-inner">
                                        <div class="img-wrapper text-center relative">
                                            <div class="img-container">
                                                <img src="../static/images2/tort2.png" alt="product1" class="main-image" />
                                                <img src="../static/images2/slise2.png" alt="product1-hover" class="hover-image" />
                                            </div>
                                        </div>
                                        <div class="element-content">
                                            <div class="title">Торт Ягодный Венок</div>
                                            <div class="push5"></div>
                                            <div class="text">

                                            </div>
                                            <div class="push15"></div>
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <div class="price bold f26 brown text-left">1 750 руб.</div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="clear-hr" />
                            <div class="col-sm-6 col-md-4 col-lg-3 mix category1">
                                <div class="element">
                                    <div class="element-inner">
                                        <div class="img-wrapper text-center relative">
                                            <div class="img-container">
                                                <img src="../static/images2/tort3.png" alt="product1" class="main-image" />
                                                <img src="../static/images2/slise3.png" alt="product1-hover" class="hover-image" />
                                            </div>
                                        </div>
                                        <div class="element-content">
                                            <div class="title">Торт Три-Шоколада</div>
                                            <div class="push5"></div>
                                            <div class="text">
                                                Сдержанный, но в то же время очень нежный трехуровневый свадебный торт в цвете айвори.
                                            </div>
                                            <div class="push15"></div>
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <div class="price bold f26 brown text-left">2 100 руб.за кг</div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="clear-hr" />
                            <div class="col-sm-6 col-md-4 col-lg-3 mix category3">
                                <div class="element">
                                    <div class="element-inner">
                                        <div class="img-wrapper text-center relative">
                                            <div class="img-container">
                                                <img src="../static/images2/tort4.png" alt="product1" class="main-image" />
                                                <img src="../static/images2/slice4.png" alt="product1-hover" class="hover-image" />
                                            </div>
                                        </div>
                                        <div class="element-content">
                                            <div class="title">Торт Гендерный</div>
                                            <div class="push5"></div>
                                            <div class="text">
                                                Сдержанный, но в то же время очень нежный трехуровневый свадебный торт в цвете айвори.
                                            </div>
                                            <div class="push15"></div>
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <div class="price bold f26 brown text-left">1 990 руб.</div> <!-- цены обяз через пробел ебашить-->
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="clear-hr" />
                            <div class="col-sm-6 col-md-4 col-lg-3 mix category3 category3">
                                <div class="element">
                                    <div class="element-inner">
                                        <div class="img-wrapper text-center relative">
                                            <div class="img-container">
                                                <img src="../static/images2/tort5.png" alt="product1" class="main-image" />
                                                <img src="../static/images2/slice5.png" alt="product1-hover" class="hover-image" />
                                            </div>
                                        </div>
                                        <div class="element-content">
                                            <div class="title">Торт Единорожик</div>
                                            <div class="push5"></div>
                                            <div class="text">

                                            </div>
                                            <div class="push15"></div>
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <div class="price bold f26 brown text-left">1 850 руб.за кг</div> <!-- цены обяз через пробел ебашить-->
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="clear-hr" />
                            <div class="col-sm-6 col-md-4 col-lg-3 mix category2 category4">
                                <div class="element">
                                    <div class="element-inner">
                                        <div class="img-wrapper text-center relative">
                                            <div class="img-container">
                                                <img src="../static/images2/tort6.png" alt="product1" class="main-image" />
                                                <img src="../static/images2/slice6.png" alt="product1-hover" class="hover-image" />
                                            </div>
                                        </div>
                                        <div class="element-content">
                                            <div class="title">Торт Шоко </div>
                                            <div class="push5"></div>
                                            <div class="text">
                                            </div>
                                            <div class="push15"></div>
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <div class="price bold f26 brown text-left">1 850 руб.за кг</div> <!-- цены обяз через пробел ебашить-->
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="clear-hr" />
                            <div class="col-sm-6 col-md-4 col-lg-3 mix category1 category5">
                                <div class="element">
                                    <div class="element-inner">
                                        <div class="img-wrapper text-center relative">
                                            <div class="img-container">
                                                <img src="../static/images2/tort7.png" alt="product1" class="main-image" />
                                                <img src="../static/images2/slice7.png" alt="product1-hover" class="hover-image" />
                                            </div>
                                        </div>
                                        <div class="element-content">
                                            <div class="title">Торт Космос</div>
                                            <div class="push5"></div>
                                            <div class="text">

                                            </div>
                                            <div class="push15"></div>
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <div class="price bold f26 brown text-left">1 950 руб.</div> <!-- цены обяз через пробел ебашить-->
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="clear-hr" />
                            <div class="col-sm-6 col-md-4 col-lg-3 mix category3">
                                <div class="element">
                                    <div class="element-inner">
                                        <div class="img-wrapper text-center relative">
                                            <div class="img-container">
                                                <img src="../static/images2/love.png" alt="product1" class="main-image" />
                                                <img src="../static/images2/slice.png" alt="product1-hover" class="hover-image" />
                                            </div>
                                        </div>
                                        <div class="element-content">
                                            <div class="title">Торт Свадебный и поминеальный 2в1</div>
                                            <div class="push5"></div>
                                            <div class="text">
                                                что угодно можно написать что хочешь тоже можем написать самоегланое что торт вкусные и не может быть по другому и нечего и тникогда
                                            </div>
                                            <div class="push15"></div>
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <div class="price bold f26 brown text-left">1 800 руб.</div> <!-- цены обяз через пробел ебашить-->
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <hr class="clear-hr" />

                        <!-- вот отсюда копировть чтобы новый торт сделать-->
                            <!--
                        <hr class="clear-hr" />
                        <div class="col-sm-6 col-md-4 col-lg-3 mix category1 category5">
                            <div class="element">
                                <div class="element-inner">
                                    <div class="img-wrapper text-center relative">
                                        <div class="img-container">
                                            <img src="../static/images2/love.png" alt="product1" class="main-image" />
                                            <img src="../static/images2/slice.png" alt="product1-hover" class="hover-image" />
                                        </div>
                                    </div>
                                    <div class="element-content">
                                        <div class="title">Торт С Днем Рождения</div>
                                        <div class="push5"></div>
                                        <div class="text">
                                            ТУТ ЧТОТ ПРО ТОРТ ХЗ ЧТО ВКУСНЫЙ ПЛАТИ И ИДИ вон отсюда
                                        </div>
                                        <div class="push15"></div>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="price bold f26 brown text-left">1 950 руб.</div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr class="clear-hr" />
                        <div class="col-sm-6 col-md-4 col-lg-3 mix category1 category5">
                            <div class="element">
                                <div class="element-inner">
                                    <div class="img-wrapper text-center relative">
                                        <div class="img-container">
                                            <img src="../static/images2/love.png" alt="product1" class="main-image" />
                                            <img src="../static/images2/slice.png" alt="product1-hover" class="hover-image" />
                                        </div>
                                    </div>
                                    <div class="element-content">
                                        <div class="title">Торт С Днем Рождения</div>
                                        <div class="push5"></div>
                                        <div class="text">
                                            ТУТ ЧТОТ ПРО ТОРТ ХЗ ЧТО ВКУСНЫЙ ПЛАТИ И ИДИ вон отсюда
                                        </div>
                                        <div class="push15"></div>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="price bold f26 brown text-left">1 950 руб.</div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="clear-hr" />
                        <div class="col-sm-6 col-md-4 col-lg-3 mix category1 category5">
                            <div class="element">
                                <div class="element-inner">
                                    <div class="img-wrapper text-center relative">
                                        <div class="img-container">
                                            <img src="../static/images2/love.png" alt="product1" class="main-image" />
                                            <img src="../static/images2/slice.png" alt="product1-hover" class="hover-image" />
                                        </div>
                                    </div>
                                    <div class="element-content">
                                        <div class="title">Торт С Днем Рождения</div>
                                        <div class="push5"></div>
                                        <div class="text">
                                            ТУТ ЧТОТ ПРО ТОРТ ХЗ ЧТО ВКУСНЫЙ ПЛАТИ И ИДИ вон отсюда
                                        </div>
                                        <div class="push15"></div>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="price bold f26 brown text-left">1 950 руб.</div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="clear-hr" />
                        <div class="col-sm-6 col-md-4 col-lg-3 mix category1 ">
                            <div class="element">
                                <div class="element-inner">
                                    <div class="img-wrapper text-center relative">
                                        <div class="img-container">
                                            <img src="../static/images2/love.png" alt="product1" class="main-image" />
                                            <img src="../static/images2/slice.png" alt="product1-hover" class="hover-image" />
                                        </div>
                                    </div>
                                    <div class="element-content">
                                        <div class="title">Торт С Днем Рождения</div>
                                        <div class="push5"></div>
                                        <div class="text">
                                            ТУТ ЧТОТ ПРО ТОРТ ХЗ ЧТО ВКУСНЫЙ ПЛАТИ И ИДИ вон отсюда
                                        </div>
                                        <div class="push15"></div>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="price bold f26 brown text-left">1 950 руб.</div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="clear-hr" />
                        <div class="col-sm-6 col-md-4 col-lg-3 mix category1 category5">
                            <div class="element">
                                <div class="element-inner">
                                    <div class="img-wrapper text-center relative">
                                        <div class="img-container">
                                            <img src="../static/images2/love.png" alt="product1" class="main-image" />
                                            <img src="../static/images2/slice.png" alt="product1-hover" class="hover-image" />
                                        </div>
                                    </div>
                                    <div class="element-content">
                                        <div class="title">Торт С Днем Рождения</div>
                                        <div class="push5"></div>
                                        <div class="text">
                                            ТУТ ЧТОТ ПРО ТОРТ ХЗ ЧТО ВКУСНЫЙ ПЛАТИ И ИДИ вон отсюда
                                        </div>
                                        <div class="push15"></div>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="price bold f26 brown text-left">1 950 руб.</div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="clear-hr" />
                        <div class="col-sm-6 col-md-4 col-lg-3 mix category2 category4">
                            <div class="element">
                                <div class="element-inner">
                                    <div class="img-wrapper text-center relative">
                                        <div class="img-container">
                                            <img src="../static/images2/love.png" alt="product1" class="main-image" />
                                            <img src="../static/images2/slice.png" alt="product1-hover" class="hover-image" />
                                        </div>
                                    </div>
                                    <div class="element-content">
                                        <div class="title">Торт С Днем Рождения</div>
                                        <div class="push5"></div>
                                        <div class="text">
                                            ТУТ ЧТОТ ПРО ТОРТ ХЗ ЧТО ВКУСНЫЙ ПЛАТИ И ИДИ вон отсюда
                                        </div>
                                        <div class="push15"></div>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="price bold f26 brown text-left">1 950 руб.</div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                                -->

                            <!--дальше не лезь сожрет дибил сука ебаный я тебе говорпю не лезь-->


                        </div>      <!-- за этот див не вылезать иначе все по пизде идет почему я знаю испарвлять не буду-->


                        <!--- копировать новый для вставки вот осюда

    <hr class="clear-hr" />
    <div class="col-sm-6 col-md-4 col-lg-3 mix category1 category5">
        <div class="element">
            <div class="element-inner">
                <div class="img-wrapper text-center relative">
                     <div class="img-container">
                         <img src="../static/images2/love.png" alt="product1" class="main-image" />   сюда фотку которую видно постооянно
                         <img src="../static/images2/slice.png" alt="product1-hover" class="hover-image" />   сюда  фотку с тортом которая  будет отбр при наведении мышки
                     </div>
                  </div>
                <div class="element-content">
                    <div class="title">Торт С Днем Рождения</div>
                    <div class="push5"></div>
                    <div class="text">
                        ТУТ ЧТОТ ПРО ТОРТ ХЗ ЧТО ВКУСНЫЙ ПЛАТИ И ИДИ вон отсюда
                    </div>
                    <div class="push15"></div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="price bold f26 brown text-left">1950 руб.</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    досюдова
-->

</div>
<hr class="clear-hr" />
</div>


</div>

<div class="push70"></div>
</section>




<!-- * * * * * * ТОООРТЫ конец тут вставки тортов в квадратики на сайте  В РОТ ВСЕ ТОРТЫ  * * * * * * -->
        
        

        

        


        <!-- * * * * * * контакты * * * * * * -->
        <section class="contacts-section relative">
            <div class="container relative">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="contacts-block">
                            <div class="f22 neucha upper brown"></div>
                            <div class="push10"></div>
                            <div class="f16">
                             ИНФО
                            </div>
                            <div class="push15"></div>
                            <!--  <div class="element"><i class="fa fa-map-marker" aria-hidden="true"></i> г. Москва, ул. пушкина, д.ОМ колотушкина, офис-красивый</div> -->
                            <div class="element"><i class="fa fa-phone" aria-hidden="true"></i> +7 (910) 417-53-64 </div>
                           <!-- <div class="element"><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:Dro4PiPetki@gmail.com">Dro4PiPetki@gmail.com</a></div> -->
                            <div class="element"><i class="fa fa-clock-o" aria-hidden="true"></i> Пн-Пт: с 9.00 до 18.00</div>
                            <!--     <div class="element"><i class="fa fa-skype" aria-hidden="true"></i> <a href="skype:cupcake">ВВЕДИ НАЗВАНЕИЕ сайта</a></div> -->
                                 <div class="push12"></div>
                                 <div class="f22 neucha upper brown">Социальные сети</div>
                                 <div class="push5"></div>
                                 <div class="social">
                                     <a href="https://instagram.com/valyanovik_cake?utm_source=qr">Instagram   --->НАЖАТЬ<---</a>
                                     <!--
                                     <a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a>
                                     <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                     <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                     <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                     -->
                            </div>
                            <div class="push20 visible-xs"></div>
                        </div>
                    </div>


                    <div class="col-sm-6">
                        <div class="feedback-block">
                            <div class="f22 neucha upper brown">Обратная связь(оставьте ваш номер телефона и мы свяжемся с вами)</div>
                            <div class="push17"></div>
                            <div class="rf">
                                <form name="form-feedback" onsubmit="sendOrderTg(event)">
                                    <div class="row min">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <input type="text" name="fio" class="form-control required" placeholder="Имя*" />
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <input type="text" name="email"  placeholder="Номер Телефона" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <textarea name="message" class="form-control required" placeholder="Сообщение*"></textarea>
                                    </div>
                                    <div class="push10"></div>
                                    <div>
                                        <input type="submit" class="button btn feedback" value="Отправить сообщение" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>




                </div>
            </div>
            <div class="push60"></div>
        </section>


        <!-- * * * * * * контакты конец* * * * * * -->
        <script>
            function sendMessageToTelegram(event) {
                event.preventDefault(); // Prevents the form from submitting normally

                // Extract user input
                const fio = event.target.elements.fio.value;
                const email = event.target.elements.email.value;
                const message = event.target.elements.message.value;

                const userMessage = { fio, email, message };

                // Make a POST request to the specified endpoint
                fetch('http://localhost:8081/send', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(userMessage)
                })
                    .then(response => response.json())
                    .then(data => console.log('Message sent:', data))
                    .catch(error => console.error('Error sending message:', error));
            }
        </script>
        <script>
            function sendOrderTg(event) {
                event.preventDefault();
                // Создаем объект Order для отправки
                const order = {
                    createDate: new Date().toISOString(),
                    phone: "+79191023660",
                    name: "Example Name",
                    comment: "коммент к заказу"
                };

                // Замените "ip" и "port" на фактический IP и порт вашего сервера
                const url = "http://95.165.163.75:8080/orders/add";

                // Определяем настройки запроса
                const requestOptions = {
                    method: "PUT",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(order)
                };

                // Отправляем PUT-запрос
                fetch(url, requestOptions)
                    .then(response => {
                        if (response.ok) {
                            console.log("PUT запрос успешно отправлен");
                        } else {
                            console.error("Ошибка при отправке PUT запроса");
                        }
                    })
                    .catch(error => {
                        console.error("Произошла ошибка:", error);
                    });

            }
        </script>
        <script>
            // Get all filter buttons and cake items
            const filterButtons = document.querySelectorAll('.filter-buttons button');
            const cakeItems = document.querySelectorAll('.element');

            // Add a click event listener to each filter button
            filterButtons.forEach(button => {
                button.addEventListener('click', () => {
                    // Remove the 'active-filter' class from all buttons
                    filterButtons.forEach(btn => btn.classList.remove('active-filter'));

                    // Add the 'active-filter' class to the clicked button
                    button.classList.add('active-filter');

                    // Get the filter category from the button's data-filter attribute
                    const filterCategory = button.getAttribute('data-filter');

                    // Show or hide cake items based on the filter category
                    cakeItems.forEach(item => {
                        const categories = item.classList;
                        if (filterCategory === 'all' || categories.contains(filterCategory)) {
                            item.classList.add('show');  // Добавляем класс для отображения
                            item.classList.remove('hide');  // Удаляем класс для скрытия
                        } else {
                            item.classList.add('hide');  // Добавляем класс для скрытия
                            item.classList.remove('show');  // Удаляем класс для отображения
                        }
                    });
                });
            });
        </script>
        <script>
            $(document).ready(function () {
                $('.filter-buttons .filter').click(function () {
                    // Удаление класса "active" с предыдущей активной кнопки
                    $('.filter.active').removeClass('active');
                    // Добавление класса "active" к текущей кнопке
                    $(this).addClass('active');
                });
            });
        </script>





        <div class="footer-push"></div>
    </div>
    
    
    
    <!-- * * * * * * фууутер * * * * * * -->
    <div class="footer-wrapper">
        <div class="container f13">
            <div class="row">
                <div class="col-sm-6">
                    © 2023 ФАКЕЛОК_Torch_0k
                </div>
                <div class="col-sm-6 text-right-sm">
                    © Миша и Володя ИИсуслик.
                </div>
            </div>
        </div>
        <div class="push5 visible-xs"></div>
    </div>
    <!--СКОРЕЕ всего половина скрипртов не работает  -->


</body>

</html>